#home {
    display: flex;
    height: 750px;
    background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cta {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    position: relative;
    background-color: #ffe8b4;
    opacity: 0.9;
    border-radius: 40% 30% 10% 20%;
    padding: 10px;
}

#cta .title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #1d1d1d;
}

#cta .title span {
    color: #e9a209;
}

#cta .description {
    font-size: 1.2rem;
    color: #1d1d1d;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 8%;
    width: 50%;
}

. {
    background-color: #ffe8b4;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    left: 0;
}