#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cta {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    background-color: #ffe8b4;
    opacity: 0.9;
    border-radius: 12px;
    padding: 40px;
}

#cta .title {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
}

#cta .title span {
    color: var(--primary-color);
}

#cta .description {
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-align: center;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--secondary-color);
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    #cta {
        width: 100%;
    }

    #cta .title {
        font-size: 2.5rem;
    }

    #cta .description {
        font-size: 1rem;
    }

    #cta_buttons {
        flex-direction: column;
    }

    #phone_button {
        padding: 8px 12px;
    }
}