* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff9ea;
}

section {
    padding: 28px 8%;
}

.btn_default {
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    padding: 10px 14px;
    background-color: #e9a209;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.btn_default:hover {
    background-color: #ffe100;
}

#mobile_btn, #mobile_menu {
    display: none;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #e9a209;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}